{%- extends "master.html" %}

{%- block main %}
  <div class="container is-fluid center-container">
    <div class="center-item">
      <hgroup class="client">
        <p class="title is-family-secondary">
          {{ code }}
        </p>
        <p class="subtitle is-family-primary">
          {{ message }}
        </p>
      </hgroup>

      <div class="buttons">
        <a class="button is-grey-lighter is-family-primary" href="/">
          Go Home
        </a>
        <a class="button is-grey-lighter is-family-primary" onclick="back()">
          Go Back
        </a>
      </div>
    </div>
  </div>

  <script>
    function back() {
      window.history.go(-1);
    }
  </script>
{% endblock -%}
