{%- extends "master.html" %}

{%- block main %}
  <br />

  <div class="container is-fluid">
    <img src="/static/documents/errorgif.gif" style="display: block;
                      margin-left: auto; margin-right: auto;width: 50%;">
    <div class="notification is-danger is-family-secondary">
      Internal Server Error
    </div>
    <p class="is-family-primary">
      The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application. If you are seeing this error, it means something went wrong on our side. If you can, report this to OMMC along with the circumstances at which it happened (whether you are currently signed in, the url you are trying to access).
    </p>
  </div>
{% endblock -%}
