{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Contest 2021
      </p>
      <p class="subtitle is-family-primary">
        View all three rounds of the 2021 OMMC Contest here!
      </p>
    </div>
  </section>
  <section>
    <div style="text-align: center; background-color: yellow;">
      <strong>FULL SOLUTIONS COMING SOON! </strong>
    </div>
  </section>
  <div class="notification">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p style="text-align: center; font-size: 30px">
            <strong>Thanks to <strong style="color: #c9424b">AoPS</strong>, <strong style="color: #c9424b">Wolfram</strong>, and <strong style="color: #c9424b">MapleSoft</strong> for sponsoring OMMC!</strong>
            <br />
            <p style="text-align: center; font-size: 20px"><strong> 1ST PLACE Individual:</strong><strong style="color: #c9424b"> Marvin Mao </strong> <strong>(mmao)</strong></p> 
            <p style="text-align: center; font-size: 20px"><small> $50 cash + 2 AoPS coupons + complimentary year of Wolfram|Alpha Notebook Edition</small></p>
            <p style="text-align: center; font-size: 20px"><strong> 2ND PLACE Individual:</strong><strong style="color: #c9424b"> Jiahe Liu </strong><strong>(john0512)</strong></p> 
            <p style="text-align: center; font-size: 20px"><small> $30 cash + 1 AoPS coupon + complimentary year of Wolfram|Alpha Notebook Edition</small></p>
            <p style="text-align: center; font-size: 20px"><strong> 3RD PLACE Individual:</strong><strong style="color: #c9424b"> Anonymous </strong></p> 
            <p style="text-align: center; font-size: 20px"><small> $15 cash + 1 AoPS coupon</small></p>
            <p style="text-align: center; font-size: 20px"><strong> 1ST PLACE TEAM:</strong><strong style="color: #c9424b"> ADIHAYA Jayasharmaramankumarguptareddybavarajugopal</strong></p> 
            <p style="text-align: center; font-size: 20px"> pbj2006, Cylence, tigershark22, solver1104</p>
            <p style="text-align: center; font-size: 20px"><small>1 maplesoft license for each member</small></p>
          </p>
        </div>
      </div>
    </article>
  </div>
  <section class="px-5 pt-5">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <strong>Rounds</strong>
            <section class="columns p-5 is-multiline">

              <div class="column is-one-third">
                Round 1
                <div class="card">
                  {%- with url = url_for("static", filename="documents/Round1.pdf") %}
                  <object data="{{ url }}" type="application/pdf" width="100%" height="750px">
                    <embed src="{{ url }}" type="application/pdf" />
                  </object>
                {% endwith -%}
                </div>
              </div>
              
            
            <div class="column is-one-third">
              Round 2
              <div class="card">
                {%- with url = url_for("static", filename="documents/Round2.pdf") %}
                <object data="{{ url }}" type="application/pdf" width="100%" height="750px">
                  <embed src="{{ url }}" type="application/pdf" />
                </object>
              {% endwith -%}
              </div>
            </div>
            <div class="column is-one-third">
              Round 3
              <div class="card">
                {%- with url = url_for("static", filename="documents/Round3.pdf") %}
                <object data="{{ url }}" type="application/pdf" width="100%" height="750px">
                  <embed src="{{ url }}" type="application/pdf" />
                </object>
              {% endwith -%}
              </div>
            </div>

            </section>

          </div>
        </div>
      </article>
    </div>
</section>
{% endblock -%}
