{%- extends "master.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Creators
      </p>
      <p class="subtitle is-family-primary">
        See the people who made OMMC possible.
      </p>
    </div>
  </section>
 
  <section class="px-5 pt-5">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <strong>Administrators</strong>
            <section class="columns p-5 is-multiline">
               
            <div class="column is-one-quarter">
              <div class="card">
                <header class="card-header">
                    <img src="https://cdn.discordapp.com/attachments/710679539558121482/790771589389615144/1608133089413.png" style="display: block;
                      margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                  </header>
                <header class="card-header">
                  <p class="card-footer-item">
                    <strong>Evan Chang</strong>
                  </p>
                </header>
                <header class="card-header">
                  <p class="card-footer-item">
                    Organizer
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <p>Evan is currently a freshman at High Technology High School in Lincroft, New Jersey. He founded OMMC with Ishaan Akula in September of 2020 and has worked as a problem creator for the contest. He has participated in numerous math competitions over the years, including MATHCOUNTS, AMC 10/12, AIME, and USAMTS. He has also been involved with the Mathily series of summer programs. He has participated in the WOOT program on AoPS and enjoys communicating with others on the online forums, you can find him there as squareman. Outside of mathematics, he enjoys composing music, having won music composition competitions at the state level. In his free time, he enjoys solving puzzles and going on long, relaxing walks. He also eats way too much food.
                    </p>>
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="/user/squareman" class="hoverlink card-footer-item">Profile</a>
                </footer>
              </div>
            </div>
                
                <div class="column is-one-quarter">
                  <div class="card">
                    <header class="card-header">
                        <img src="https://cdn.discordapp.com/attachments/501548282170966046/790804161062240256/unknown.png" style="display: block;
                          margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                      </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        <strong>Bill Fei</strong>
                      </p>
                    </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        Organizer
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        Heya!
                      </div>
                    </div>
            
                    <footer class="card-footer">
                      <a href="/user/Bill23" class="hoverlink card-footer-item">Profile</a>
                    </footer>
                  </div>
                </div>

            <div class="column is-one-quarter">
              <div class="card">
                <header class="card-header">
                    <img src="https://cdn.discordapp.com/attachments/501548282170966046/790804488424390696/unknown.png" style="display: block;
                      margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                  </header>
                <header class="card-header">
                  <p class="card-footer-item">
                    <strong>Ishaan Akula</strong>
                  </p>
                </header>
                <header class="card-header">
                  <p class="card-footer-item">
                    Organizer
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    Don't cheat.
                  </div>
                </div>
        
                <footer class="card-footer">
                  <a href="/user/tempest" class="hoverlink card-footer-item">Profile</a>
                </footer>
              </div>
            </div>
            </section>

          </div>
        </div>
      </article>
    </div>

<div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <strong>Web Development Team</strong>
            <section class="columns p-5 is-multiline">
              <div class="column is-one-quarter">
                <div class="card">
                  <header class="card-header">
                      <img src="https://cdn.discordapp.com/attachments/710679539558121482/790771589389615144/1608133089413.png" style="display: block;
                        margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                    </header>
                  <header class="card-header">
                    <p class="card-footer-item">
                      <strong>Anish Pallati</strong>
                    </p>
                  </header>
                  <header class="card-header">
                    <p class="card-footer-item">
                      Web Development
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Coder Delux
                    </div>
                  </div>
                  <footer class="card-footer">
                    <a href="/user/Anish" class="hoverlink card-footer-item">Profile</a>
                  </footer>
                </div>
              </div>
                             <div class="column is-one-quarter">
                  <div class="card">
                    <header class="card-header">
                        <img src="https://cdn.discordapp.com/attachments/778356497880449045/790953674238984222/unknown.png" style="display: block;
                          margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                      </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        <strong>Kevin Liu</strong>
                      </p>
                    </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        Web Development
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        Good luck.
                      </div>
                    </div>
            
                    <footer class="card-footer">
                      <a href="/user/KLiu" class="hoverlink card-footer-item">Profile</a>
                    </footer>
                  </div>
                </div>
            </section>

          </div>
        </div>
      </article>
    </div>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <strong>Social Media Squadron</strong>
            <section class="columns p-5 is-multiline">
 
              <div class="column is-one-quarter">
                <div class="card">
                  <header class="card-header">
                      <img src="https://cdn.discordapp.com/attachments/710679539558121482/790771589389615144/1608133089413.png" style="display: block;
                        margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                    </header>
                  <header class="card-header">
                    <p class="card-footer-item">
                      <strong>Advika Vuppala</strong>
                    </p>
                  </header>
                  <header class="card-header">
                    <p class="card-footer-item">
                      Social Media
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Boring base text!!!!!!!
                    </div>
                  </div>
          
                  <footer class="card-footer">
                    <a href="/user/Advika" class="hoverlink card-footer-item">Profile</a>
                  </footer>
                </div>
              </div>
       
        
                <div class="column is-one-quarter">
                  <div class="card">
                    <header class="card-header">
                        <img src="https://cdn.discordapp.com/attachments/710679539558121482/790771589389615144/1608133089413.png" style="display: block;
                          margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                      </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        <strong>Ananya Vuppala</strong>
                      </p>
                    </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        Social Media 
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        Boring base text!
                      </div>
                    </div>
            
                    <footer class="card-footer">
                      <a href="/user/ananya" class="hoverlink card-footer-item">Profile</a>
                    </footer>
                  </div>
                </div>
       
      
       
       
            </section>

          </div>
        </div>
      </article>
    </div>

 
 
  </section>
{% endblock -%}
 

