{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Creators
      </p>
      <p class="subtitle is-family-primary">
        See the people who made OMMC possible.
      </p>
    </div>
  </section>

  <section class="columns p-5 is-multiline">
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Evan Chang
          </p>
        </header>

        <div class="card-content">
          <div class="content">
            participate or be square!
          </div>
        </div>

        <footer class="card-footer">
          <a href="/user/squareman" class="hoverlink card-footer-item">Profile</a>
        </footer>
      </div>
    </div>

    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Ishaan Akula
          </p>
        </header>

        <div class="card-content">
          <div class="content">
            don't cheat
          </div>
        </div>

        <footer class="card-footer">
          <a href="/user/tempest" class="hoverlink card-footer-item">Profile</a>
        </footer>
      </div>
    </div>

    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Bill Fei
          </p>
        </header>

        <div class="card-content">
          <div class="content">
            heya
          </div>
        </div>

        <footer class="card-footer">
          <a href="/user/Bill23" class="hoverlink card-footer-item">Profile</a>
        </footer>
      </div>
    </div>

    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Evan Chang
          </p>
        </header>

        <div class="card-content">
          <div class="content">
            participate or be square!
          </div>
        </div>

        <footer class="card-footer">
          <a href="/user/squareman" class="hoverlink card-footer-item">Profile</a>
        </footer>
      </div>
    </div>

    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Ishaan Akula
          </p>
        </header>

        <div class="card-content">
          <div class="content">
            don't cheat
          </div>
        </div>

        <footer class="card-footer">
          <a href="/user/tempest" class="hoverlink card-footer-item">Profile</a>
        </footer>
      </div>
    </div>

    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Bill Fei
          </p>
        </header>

        <div class="card-content">
          <div class="content">
            heya
          </div>
        </div>

        <footer class="card-footer">
          <a href="/user/Bill23" class="hoverlink card-footer-item">Profile</a>
        </footer>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Kevin Liu
          </p>
        </header>

        <div class="card-content">
          <div class="content">
            Good Luck
          </div>
        </div>

        <footer class="card-footer">
          <a href="/user/KLiu" class="hoverlink card-footer-item">Profile</a>
        </footer>
      </div>
    </div>
  </section>
{% endblock -%}
