{%- extends "master.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Creators
      </p>
      <p class="subtitle is-family-primary">
        See the people who made OMMC possible.
      </p>
    </div>
  </section>
 
  <section class="px-5 pt-5">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <strong>Administrators</strong>
            <section class="columns p-5 is-multiline">
               
            <div class="column is-one-quarter">
              <div class="card">
                <header class="card-header">
                    <img src="https://cdn.discordapp.com/attachments/710679539558121482/790771589389615144/1608133089413.png" style="display: block;
                      margin-left: auto; margin-right: auto;width: 50%; max-height:11rem; max-width:6rem">
                  </header>
                <header class="card-header">
                  <p class="card-footer-item">
                    <strong>Evan Chang</strong>
                  </p>
                </header>
                <header class="card-header">
                  <p class="card-footer-item">
                    Organizer
                  </p>
                </header>
                <div class="card-content">
                  <div class="content" style="font-size:0.6em">
                    <p>Evan is a freshman at High Technology High School in Lincroft, New Jersey. He founded OMMC with Ishaan Akula in September of 2020 and works as a problem creator. He has participated in numerous math competitions over the years, including MATHCOUNTS, AMC 10/12, AIME, and USAMTS. He has also been involved with the Mathily series of highly selective summer programs. He participates in the WOOT program on AoPS and enjoys communicating on the online forums, you can find him there as squareman. Outside of mathematics, he enjoys composing music, having won music composition competitions at the state level. In his free time, he enjoys solving puzzles and going on long walks.
                    </p>
                  </div>
                </div>
                <footer class="card-footer">
                  <a href="/user/squareman77" class="hoverlink card-footer-item">Profile</a>
                </footer>
              </div>
            </div>
            <div class="column is-one-quarter">
              <div class="card">
                <header class="card-header">
                    <img src="https://cdn.discordapp.com/attachments/501548282170966046/790804488424390696/unknown.png" style="display: block;
                      margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                  </header>
                <header class="card-header">
                  <p class="card-footer-item">
                    <strong>Ishaan Akula</strong>
                  </p>
                </header>
                <header class="card-header">
                  <p class="card-footer-item">
                    Organizer
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <p>Ishaan is a freshman at High Technology High School in Lincroft, New Jersey. He is a co-founder and administrator for OMMC and handles the website/social media aspect of the competition. He works as a coder for the OMMC website, and the manager for OMMC’s social media pages. 
                    </p>
                  </div>
                </div>
        
                <footer class="card-footer">
                  <a href="/user/tempest" class="hoverlink card-footer-item">Profile</a>
                </footer>
              </div>
            </div>
                <div class="column is-one-quarter">
                  <div class="card">
                    <header class="card-header">
                        <img src="https://cdn.discordapp.com/attachments/501548282170966046/790804161062240256/unknown.png" style="display: block;
                          margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                      </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        <strong>Bill Fei</strong>
                      </p>
                    </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        Organizer
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <p>Bill is a freshman at West Lafayette Jr./Sr. High school in West Lafayette, Indiana. He is one of the main organizers of the contest and works as a problem creator. He has participated in numerous math competitions, including MATHCOUNTS, the AMC competition series, as well as programming competitions such as USACO. He takes the Worldwide Online Olympiad Training program (WOOT) held on AoPS, his username is Billert. He enjoys participating in Codeforces contests and likes to grow his rating. In his free time, he likes to play video games, test his clicking and typing speeds, speedcube, play tennis, and solve puzzles. He also plays piano and viola.
                        </p>
                      </div>
                    </div>
            
                    <footer class="card-footer">
                      <a href="/user/Bill23" class="hoverlink card-footer-item">Profile</a>
                    </footer>
                  </div>
                </div>

          
            
            </section>

          </div>
        </div>
      </article>
    </div>

<div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <strong>Web Development Team</strong>
            <section class="columns p-5 is-multiline">
              <div class="column is-one-quarter">
                <div class="card">
                  <header class="card-header">
                      <img src="https://cdn.discordapp.com/attachments/778356497880449045/792179796037599294/unknown.png" style="display: block;
                        margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                    </header>
                  <header class="card-header">
                    <p class="card-footer-item">
                      <strong>Anish Pallati</strong>
                    </p>
                  </header>
                  <header class="card-header">
                    <p class="card-footer-item">
                      Web Development
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Coder Delux
                    </div>
                  </div>
                  <footer class="card-footer">
                    <a href="/user/Anish" class="hoverlink card-footer-item">Profile</a>
                  </footer>
                </div>
              </div>
                <div class="column is-one-quarter">
                  <div class="card">
                    <header class="card-header">
                        <img src="https://cdn.discordapp.com/attachments/753798704082714715/792403596393185290/unknown.png" style="display: block;
                          margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                      </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        <strong>Kevin Liu</strong>
                      </p>
                    </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        Web Development
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        Good luck.
                      </div>
                    </div>
            
                    <footer class="card-footer">
                      <a href="/user/KLiu" class="hoverlink card-footer-item">Profile</a>
                    </footer>
                  </div>
                </div>

                <div class="column is-one-quarter">
                  <div class="card">
                    <header class="card-header">
                        <img src="https://cdn.discordapp.com/attachments/778356497880449045/792179796037599294/unknown.png" style="display: block;
                          margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                      </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        <strong>Nikhil Osuri</strong>
                      </p>
                    </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        Web Development
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        Good luck.
                      </div>
                    </div>
            
                    <footer class="card-footer">
                      <a href="/user/KLiu" class="hoverlink card-footer-item">Profile</a>
                    </footer>
                  </div>
                </div>
                <div class="column is-one-quarter">
                  <div class="card">
                    <header class="card-header">
                        <img src="https://cdn.discordapp.com/attachments/742548464344236093/792084163087826984/unknown.png" style="display: block;
                          margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                      </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        <strong>Ayush Bobra</strong>
                      </p>
                    </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        Web Development
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        <p>Ayush is currently a freshman at High Technology High School in Lincroft, New Jersey. He is a manager and staff member for OMMC and helps with the website/graphic design aspect of the competition. Ayush has participated in many math competitions, including MATHCOUNTS, Math League, AMC competitions, and more. In his free time, he enjoys running, reading books, singing, and producing music. 
                        </p>
                      </div>
                    </div>
                    <footer class="card-footer">
                      <a href="/user/AyushB" class="hoverlink card-footer-item">Profile</a>
                    </footer>
                  </div>
                </div>
            </section>

          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <strong>Social Media Staff</strong>
            <section class="columns p-5 is-multiline">
 
              <div class="column is-one-quarter">
                <div class="card">
                  <header class="card-header">
                      <img src="https://cdn.discordapp.com/attachments/778356497880449045/792179796037599294/unknown.png" style="display: block;
                        margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                    </header>
                  <header class="card-header">
                    <p class="card-footer-item">
                      <strong>Advika Vuppala</strong>
                    </p>
                  </header>
                  <header class="card-header">
                    <p class="card-footer-item">
                      Social Media
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                      Boring base text!!!!!!!
                    </div>
                  </div>
          
                  <footer class="card-footer">
                    <a href="/user/Advika" class="hoverlink card-footer-item">Profile</a>
                  </footer>
                </div>
              </div>
       
        
                <div class="column is-one-quarter">
                  <div class="card">
                    <header class="card-header">
                        <img src="https://cdn.discordapp.com/attachments/778356497880449045/792179796037599294/unknown.png" style="display: block;
                          margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                      </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        <strong>Ananya Vuppala</strong>
                      </p>
                    </header>
                    <header class="card-header">
                      <p class="card-footer-item">
                        Social Media 
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                        Boring base text!
                      </div>
                    </div>
            

                    <footer class="card-footer">
                      <a href="/user/ananya" class="hoverlink card-footer-item">Profile</a>
                    </footer>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </article>
      </div>
       
      <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <strong>Problem Creators</strong>
                        <section class="columns p-5 is-multiline">
             
                          <div class="column is-one-quarter">
                            <div class="card">
                              <header class="card-header">
                                  <img src="https://cdn.discordapp.com/attachments/778356497880449045/792179796037599294/unknown.png" style="display: block;
                                    margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                                </header>
                              <header class="card-header">
                                <p class="card-footer-item">
                                  <strong>Kevin Liu</strong>
                                </p>
                              </header>
                              <header class="card-header">
                                <p class="card-footer-item">
                                  Test Writer
                                </p>
                              </header>
                              <div class="card-content">
                                <div class="content">
                                  Boring base text!!!!!!!
                                </div>
                              </div>
                      
                              <footer class="card-footer">
                                <a href="/user/Advika" class="hoverlink card-footer-item">Profile</a>
                              </footer>
                            </div>
                          </div>
                   
                    
                            <div class="column is-one-quarter">
                              <div class="card">
                                <header class="card-header">
                                    <img src="https://cdn.discordapp.com/attachments/778356497880449045/792179796037599294/unknown.png" style="display: block;
                                      margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                                  </header>
                                <header class="card-header">
                                  <p class="card-footer-item">
                                    <strong>Calvin Wang</strong>
                                  </p>
                                </header>
                                <header class="card-header">
                                  <p class="card-footer-item">
                                    Test Writer
                                  </p>
                                </header>
                                <div class="card-content">
                                  <div class="content">
                                    Boring base text!
                                  </div>
                                </div>
                        
                                <footer class="card-footer">
                                  <a href="/user/ananya" class="hoverlink card-footer-item">Profile</a>
                                </footer>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                      </article>
                    </div>

    <div class="box">
      <article class="media">
          <div class="media-content">
            <div class="content">
                <strong>Test Solvers</strong>
                 <section class="columns p-5 is-multiline">
                         
                  <div class="column is-one-quarter">
                    <div class="card">
                                          <header class="card-header">
                                              <img src="https://cdn.discordapp.com/attachments/778356497880449045/792179796037599294/unknown.png" style="display: block;
                                                margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                                            </header>
                                          <header class="card-header">
                                            <p class="card-footer-item">
                                              <strong>Terry Guo</strong>
                                            </p>
                                          </header>
                                          <header class="card-header">
                                            <p class="card-footer-item">
                                              Test Solver
                                            </p>
                                          </header>
                                          <div class="card-content">
                                            <div class="content">
                                              Boring base text!!!!!!!
                                            </div>
                                          </div>
                                  
                                          <footer class="card-footer">
                                            <a href="/user/TerryG" class="hoverlink card-footer-item">Profile</a>
                                          </footer>
                                        </div>
                                      </div>
                               
                                
                                        <div class="column is-one-quarter">
                                          <div class="card">
                                            <header class="card-header">
                                                <img src="https://cdn.discordapp.com/attachments/778356497880449045/792179796037599294/unknown.png" style="display: block;
                                                  margin-left: auto; margin-right: auto;width: 50%; max-height:11rem">
                                              </header>
                                            <header class="card-header">
                                              <p class="card-footer-item">
                                                <strong>Xiang Meng</strong>
                                              </p>
                                            </header>
                                            <header class="card-header">
                                              <p class="card-footer-item">
                                                Test Solver
                                              </p>
                                            </header>
                                            <div class="card-content">
                                              <div class="content">
                                                Boring base text!
                                              </div>
                                            </div>
                                    
                           <footer class="card-footer">
                              <a href="/user/ananya" class="hoverlink card-footer-item">Profile</a>
                         </footer>
                     </div>
                  </div>
            </section>
          </div>
        </div>
      </article>
    </div>

 
 
  </section>
{% endblock -%}
 

