{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Have questions?
      </p>
      <p class="subtitle is-family-primary">
       You can find answers to frequently asked questions here.
      </p>
    </div>
  </section>

  <section class="px-5 pt-5">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>I don’t know much about the OMMC. What’s the contest like?</strong>
              <br />
              (information about contest format, emphasize learning, achieving, and challenges)
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>What are the benefits of participating?</strong>
              <br />
              (problem solving skills, analysis skills, practice the knowledge you learn in a fun way)
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>How do I prepare for the contest?</strong>
              <br />
              (suggest what level the questions are on so students can practice with other tests)
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>How will cheating be prevented?</strong>
              <br />
              skill issue
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>How is the contest scored? / How long will it take for me to receive my score?</strong>
              <br />
              (will questions left unanswered be penalized, point values, etc.)
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>What age do I have to be to participate? / Who can participate in the contest?</strong>
              <br />
              hmm myes
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>How do I register? / Do I have to register with a school?</strong>
              <br />
              You can simply register with the website. You will not be asked for your real name, but it may be required in the test.
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>How do I get others involved with the contest?</strong>
              <br />
              (recommend the contest, introduce it to others)
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>
{% endblock -%}
