{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Have questions?
      </p>
      <p class="subtitle is-family-primary">
        You can find answers to frequently asked questions here.
      </p>
    </div>
  </section>

  <section class="px-5 pt-5">
    <div class="box">
      <p class="heading">Headed by Ishaan Akula, Evan Chang, and Bill Fei</p>
      <p class="is-family-primary">
        The document version of this page is available <a class="hyperlink" target="_blank" href="https://drive.google.com/file/d/1ngteuXpJVlo9Dm8-6shcHcwrqMX_DHag/view">here</a>.
      </p>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>I don’t know much about the OMMC. What’s the contest like?</strong>
              <br />
              The OMMC is composed of 3 rounds of challenging and thought-provoking questions. Two of these rounds are to be done individually, the third round allows a team of competitors to cooperate on the questions. Each of the individual rounds can be done at whatever time each competitor sees fit within the 4-day testing period, and all members of a team must negotiate one time within the testing period to take the team round. For more information, check out our test format page. The questions themselves have been proposed by a panel of accomplished math students who have participated in numerous math competitions, and test solved by similarly qualified students as well.
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>What are the benefits of participating?</strong>
              <br />
              By participating in OMMC, a competitor gains problem solving and analysis skills that have a number of real-world applications. The problems appearing in OMMC are designed to emulate other prestigious math competitions as well. OMMC exposes competitors to fascinating areas of math that are rarely covered in school. Finally, OMMC is just a lot of fun, and is a great way for students to bond together on something they have a passion for.
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>How do I prepare for the contest?</strong>
              <br />
              The contest questions have a similar difficulty to problems appearing on the AMC 10/12 and AIME competitions. For more information on this, refer to the test format page. Questions on the OMMC draw on a variety of different fields of math, but most importantly require insight, intuition, and reasoning.
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>How will cheating be prevented?</strong>
              <br />
              You will be required to join the Zoom Link and keep your camera on for the length of the test. If you are caught cheating you will be immediately disqualified from the competition, and may be barred from participating in future competitions. What if someone <a class="hyperlink" href="https://streamable.com/x94zx4">still cheats</a>?
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>How is the contest scored? / How long will it take for me to receive my score?</strong>
              <br />
              The tests will be graded like a typical competition, where you receive points for correct answers and no points for incorrect/ignored answers. You will receive your score around the end of March.
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>What age do I have to be to participate? / Who can participate in the contest?</strong>
              <br />
              Anyone who has not received their high school diploma yet can participate.
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>How do I register? / Do I have to register with a school?</strong>
              <br />
              Registration with a school is not required, just use the website and follow the procedures.
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>How do I get others involved with the contest?</strong>
              <br />
              You can get others involved in the contest by getting them to compete in the contest, and to share the contest website with others, via social media and other means. The more people that compete, the more fun the competing experience will be!
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>
{% endblock -%}
