{%- extends "master.html" %}

{%- block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <section class="hero is-info">
    <div class="hero-body">
      {%- if not current_user.authenticated %}
        <!-- what to display when the user goes on the page without being signed in -->
        <p class="title is-family-secondary">
          OMMC
        </p>
        <p class="subtitle is-family-primary">
          Online Monmouth Math Competition
        </p>
      {%- else %}
        <!-- what to display when the user goes on the page while being signed in -->
        <p class="title is-family-secondary">
          Welcome, {{ current_user.username }}!
          
        </p>
        <p class="subtitle is-family-primary">
          Visit your profile <a class="hyperlink" href="/user/{{ current_user.username }}">here</a>.
        </p>
      {% endif -%}
    </div>
  </section>
  
  <div class="columns is-gapless">
    <div class="column">
      <section class="hero has-background-light">
        <div class="hero-body px-5">
          <p class="heading">The point of OMMC</p>
          <p>
            The purpose of OMMC, or the Online Monmouth Math Competition, is to give talented high school and middle school students an exciting and engaging way to develop their skills in mathematics.
          </p>
        </div>
      </section>
    </div>

    <div class="column">
      <section class="hero has-background-white">
        <div class="hero-body px-5">
          <p class="heading">How will it work</p>
          <p>
            Our current competition consists of 2 individual rounds and 1 team round administered over the span of 4 whole days, consisting of questions with similar difficulty as those posed on the well-established AMC 10/12 and AIME math competitions.
          <p>
        </div>
      </section>
    </div>

    <div class="column">
      <section class="hero has-background-light">
        <div class="hero-body px-5">
          <p class="heading">What do I gain</p>
          <p>
            Students will have the opportunity to compete in teams, developing valuable teamwork and collaboration skills. In the competition, they will be able to solve thought-provoking challenging mathematics questions.
          </p>
        </div>
      </section>
    </div>
  </div>
  <section class="px-6">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
        <section class="hero has-background-white">
          <div class="hero-body px-5">
            <p class="title is-family-secondary"> <strong>Sign up TODAY!</strong></p>
            <p><strong>Registration opens</strong>: January 10th</p>
              <p><strong>Registration closes</strong>: February 25th</p>
              <p><strong>Test time</strong>: Friday, February 26th to Monday, March 1st</p>
              <p><strong>Problem Releases, Discussion Opened</strong>: Mid-March</p>
            <p><strong>Results returned</strong>: End of March</p>
            <p><strong>Addtional Resources: </strong><a href="https://drive.google.com/file/d/1yk38Jg3JlmUXQuL_yZRPwiosSTPvtNTP/view">GUIDEBOOK</a></p>
            </p>
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
            <p class="title is-family-secondary"><strong>
               Ready to get started?
            </strong>
          </p>
            {%- if not current_user.authenticated %}
              <p class="is-family-primary">
                <a class="hyperlink mt-4" href="/signup"><strong>Sign up</strong></a> to enter the competition!
              </p>
            {%- else %}
              {%- if current_user["team"] != "Solo" %}
                <p class="is-family-primary">
                  You're in a a team! Your team can take the test on <a class="hyperlink mt-4" href="/team/{{ current_user['team'] }}">your team page</a> once it is released.
                </p>
              {%- else %}
                <p class="is-family-primary">
                  You haven't joined a team yet. Either <a class="hyperlink mt-4" href="/create">create one</a> or <a class="hyperlink" href="/team/Solo">stay solo (default)</a>.
                </p>
              {% endif -%}
            {% endif -%}
            </div>
            </article>
          </div>
        </div>
        </section>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
<div>
<section class="px-6">
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p class="subtitle">Contact us:</p>
        <p> Official OMMC Email: <a href="ommcofficial@gmail.com" class="fa fa-google-plus-square"></a>
        <p> Official OMMC Twitter: <a href="https://twitter.com/OfficialOmmc" class="fa fa-twitter"></a>
        <p> Official OMMC Instagram: <a href="https://www.instagram.com/ommcofficial/" class="fa fa-instagram"></a>
        <p> Official OMMC YouTube: <a href="https://twitter.com/OfficialOmmc" class="fa fa-youtube"></a>

      </div>
    </div>
  </article>
</div>
</section>
</div>





{% endblock -%}
