{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Test Information
      </p>
      <p class="subtitle is-family-primary">
        Please review how we conduct our tests so you can be acquianted with the process.
      </p>
    </div>
  </section>

  <section class="p-5">
    <div class="box">
      <p class="subtitle is-family-primary"><strong>Friday, February 26th to Monday, March 1st</strong></p>
      <p>Headed by Ishaan Akula, Evan Chang, Bill Fei</p>
      <p><strong>The document version of this page is available <a href="https://drive.google.com/file/d/1DgtKQM5by30A1-4Ww-0dGvDXKSaCzIsU/view?usp=sharing" class="hyperlink">here</a>.</strong></p>
    </div>

    <div class="box">
      <p class="subtitle"><strong>GENERAL INFORMATION</strong></p>
      <p>To prevent issues with answer formatting, all of the questions on the OMMC will have a <strong>nonnegative (0 or more) integer answer</strong>. There is no bound to how high this integer answer can be on the OMMC, but no question will have an unreasonably large (7 or more digit) answer. Do not include explanations for answers, this is not a proof-writing contest.</p>
      <p>Participants will be given <strong>4 days</strong> to complete the contest at their own time. <strong>As a result of time zone differences, participants will not be required to complete a round in a short time frame</strong>. Participants/teams can either <strong>record themselves</strong> taking the test or join a moderated <strong>Zoom</strong> meeting (which will be open for most of the day) where they must have a camera on at all times when completing the contest. However, as detailed later, the Team Round will have to be taken by all members of each team at the <strong>same time</strong> to prevent any discrepancies between users. Each team must coordinate and communicate on their own and find one time to take the Team Round.</p>
      <p>Contestants will organize themselves in teams of <strong>1-4</strong>. Note that working solo is also allowed. <strong>Any solo competitor will be counted as their own one man team</strong>. They will be allowed to take the Team Round on their own, but will not be given extra time to compensate. They will receive a score on the individual rounds as well as one cumulative team score based on all three rounds. Contestants will be able to meet other contestants from across the nation and form teams via Discord or AOPS forums. More details on these will be coming out in the future.</p>
      <p><strong>Contestants will submit their answers using a timed form</strong>. This form will be available during the test taking period. When a contestant opens the form, he/she will then be able to access the contest questions. This form can only be submitted once. During the team round, the first contestant from each team to open the form will start the 60 minute timer for all members of the team. Other contestants will also be able to open the form, access the questions and submit answers, but <strong>only the last submitted answers recorded will be graded and counted</strong>. We recommend assigning one member of the team to submit the answers on the Team Round for this reason.</p>
      <p><strong>The only aids allowed on the OMMC (for all rounds) are scrap paper, writing utensils, rulers, compasses, and a 4-function calculator</strong> (a calculator that can only perform the basic operations of addition, subtraction, multiplication, and division). Note that none of the problems appearing on the OMMC require the use of a calculator.</p>
    </div>

    <div class="box">
      <p class="subtitle"><strong>2 Individual Rounds</strong></p>
      <p>To reiterate, all problem answers are in open-ended format, meaning there are not multiple choice answers that need to be chosen. Explanation for answers will not be needed.</p>
      <p><strong>Round 1 of the OMMC will consist of 15 AMC 10 level questions</strong>. There will be 50 minutes given to take this contest. Note that the questions are AMC 10 level in terms of difficulty, but do not follow the AMC 10 multiple-choice format.</p>
      <p><strong>Round 2 of the OMMC will consist of 10 questions that approach the AIME level</strong>. There will be 120 minutes to take this contest. Note that these questions are AIME level in terms of difficulty, but do not follow the AIME integer from 0-999 format.</p>
    </div>

    <div class="box">
      <p class="subtitle"><strong>1 Team Round</strong></p>
      <p>To reiterate, all problem answers are in open-ended format, meaning there are not multiple choice answers that need to be chosen. Explanation for answers will not be needed.</p>
      <p><strong>Round 3 of the OMMC is a team round consisting of 10 questions at the AIME level</strong>. There will be 60 minutes to take this contest for the whole team. Each team must find one time to start this contest, meaning that once one member of the team starts this contest, the 60 minute countdown starts for the entire team.</p>
      <p>There exists Tiebreaker Rounds, to be issued if necessary. They will be graded on accuracy and the speed at which questions are completed and may be used for Individual ties or Team ties. Specifics will be decided in the event of an actual tie.</p>
    </div>

    <div class="box">
      <p class="subtitle"><strong>Scoring</strong></p>
      <p>Each problem on Round 1 will be worth 4 points.</p>
      <p>Each problem on Round 2 will be worth 6 points.</p>
      <p>Together, these two rounds will form the individual score of each participant.</p>
      <p><strong>A participant can earn a maximum of 120 points.</strong></p>
      <p>The team score will be calculated as the average of the individual scores, in addition to 80 points contributed by the Team Round (each problem there will contribute 8 points). <strong>This means that a team can earn a maximum of 120 + 80 = 200 points</strong>.</p>
      <p>Once again, as solo participants count as their own one man teams, each solo participant will be given an Individual Score (on the first two rounds) plus a Team Score (based on all three rounds), where the Team Score will count as his/her Individual Score plus his/her score on the Team Round.</p>
    </div>

    <div class="box">
      <p class="subtitle"><strong>Leaderboards</strong></p>
      <p><strong>There will be an Individual Leaderboard and a Team Leaderboard published on the website, based on the individual scores of each contestant and the team score of each team</strong>. Participants will be given the option to have their names shown on the leaderboard or to remain anonymous. Depending on the presence of sponsors, winners or top scoring individuals/teams may be eligible for prizes. Solo participants can appear both on the Individual Leaderboard and Team Leaderboard, with their Individual Score and Team Score respectively.</p>
    </div>
  </section>
{% endblock -%}
