{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Test Information
      </p>
      <p class="subtitle is-family-primary">
        Please review how we will conduct OMMC to familiarize yourself with our test-taking process.
      </p>
    </div>
  </section>

  <section class="p-5">
    <div class="box">
      <p class="heading">Headed by Ishaan Akula, Evan Chang, and Bill Fei</p>
      <p class="is-family-primary">
        The document version of the test information is available <a class="hyperlink" target="_blank" href="https://drive.google.com/file/d/1DgtKQM5by30A1-4Ww-0dGvDXKSaCzIsU/view">here</a>. The guidebook is available <a class="hyperlink" target="_blank" href="https://drive.google.com/file/d/174F1jmPHj6aXgbWo1LuUeBiPGmIJeC2p/view">here</a>.
      </p>
    </div>

    {%- with url = url_for("static", filename="documents/TestInfo.pdf") %}
      <object data="{{ url }}" type="application/pdf" width="100%" height="750px">
          <embed src="{{ url }}" type="application/pdf" />
      </object>
    {% endwith -%}

    <br />
  </section>
{% endblock -%}
