{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Teams
      </p>
      <p class="subtitle is-family-primary">
        Create or join an existing team.
      </p>
    </div>
  </section>
  
  <section class="px-5 pt-5">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p style="font-size:30px; text-align: center">
              <strong style="color:rgb(143, 13, 35);font-size:40px; text-align: center">STAY TUNED!</strong>
              Registration opens on January 10th. 
            </p>
          </div>
        </div>
      </article>
    </div>
-------------------------------------------------
  <div class="columns is-gapless has-background-light" style="display: flex;">
    <div class="column">
      <section class="hero">
        <div class="hero-body px-6">
          <p class="heading">Click to Join</p>
          {%- if teams %}
            {%- for doc in teams %}
              {%- with team = doc.to_dict() %}
                <div id="{{ doc.id }}" class="box team-box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <a href="/team/{{ doc.id }}"><strong>{{ doc.id }}</strong></a>

                        <p>
                          <a class="hyperlink" href="/user/{{ team.members[0] }}">{{ team.members[0] }}</a>
                          {%- for member in team.members %}
                            {%- if member != team.members[0] %}
                              <span>&middot; <a class="hyperlink" href="/user/{{ member }}">{{ member }}</a></span>
                            {% endif -%}
                          {% endfor -%}
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
                {% endwith -%}
            {% endfor -%}
          {%- else %}
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Error</strong>
                      <br />
                      Unfortunately, the teams have failed to load. Try reloading the page.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          {% endif -%}
        </div>
      </section>
    </div>

    <div class="divider is-vertical">Or</div>

    <div class="column">
      <div class="p-6 has-offset-1">
        <p class="heading">Create Your Own</p>
        <div class="box">
          {%- with messages = get_flashed_messages() %}
            {%- if messages %}
              <div class="notification flashed is-danger is-family-primary">
                {{ messages[0] }}
              </div>
            {% endif -%}
          {% endwith -%}

          <form method="POST" action="/create">
            <div class="field">
              <div class="control">
                <input class="input is-medium" type="text" name="name" value="{{ team_name }}" placeholder="Team Name" autofocus="" required>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                  id="password"
                  class="input is-medium"
                  type="password"
                  name="password"
                  value="{{ password }}"
                  placeholder="Join Code"
                  required
                />
                <div class="icon is-medium">
                  <span id="toggle" class="mdi mdi-eye"></span>
                </div>
              </div>
            </div>

            <div class="g-recaptcha" data-sitekey="6LeUQ_wZAAAAAL24DuAB0navLMupX39Uyjwv6S4W"></div>

            <br />
            <div class="field">
              <input class="is-checkradio is-info" id="rulesS" type="checkbox" name="rules">
              <label for="rulesS">I agree to the <a class="hyperlink" target="_blank" href="/rules">rules</a></label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            <button id="submit" class="button bold is-block is-info is-fullwidth">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal{{ ' is-active' if open_join else ''}}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="box no-expand">
        <button class="delete is-pulled-right mb-4" aria-label="close"></button>
        {%- with messages = get_flashed_messages() %}
          {%- if messages %}
            <div class="notification flashed is-danger is-family-primary">
              {{ messages[0] }}
            </div>
          {% endif -%}
        {% endwith -%}

        <form method="POST" action="/join">
          <div class="field">
            <div class="control">
              <input
                class="input is-medium"
                name="join_code"
                value="{{ password }}"
                placeholder="Join Code"
                required
              />
            </div>
          </div>

          <div class="g-recaptcha" data-sitekey="6LeUQ_wZAAAAAL24DuAB0navLMupX39Uyjwv6S4W"></div>
          <input type="hidden" name="team_name" value="{{ team_name }}" />

          <br />
          <div class="field">
            <input class="is-checkradio is-info" id="rulesJ" type="checkbox" name="rules">
            <label for="rulesJ">I agree to the <a class="hyperlink" target="_blank" href="/rules">rules</a></label>
          </div>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
          <button id="submit" class="button bold is-block is-info is-fullwidth">Join</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(() => {
      const $modal = $(".modal");
      const $teamName = $("[name='team_name']");

      $(".team-box").click(event => {
        if (event.target.tagName !== "A" && event.currentTarget.id !== "Solo") {
          $teamName.val(event.currentTarget.id);
          $modal.addClass("is-active");
          $(".flashed").remove();
        }
      });

      $(".modal-background, .delete").click(() => {
        $teamName.val("");
        $modal.removeClass("is-active");
        $(".flashed").remove();
      });
    });
  </script> <!-- f-->
{% endblock -%}
