{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Teams
      </p>
      <p class="subtitle is-family-primary">
        Create or join an existing team.
      </p>
      <p>Join the Discord Server <a class="hyperlink" target="_blank" href="https://discord.gg/BJxft6xzjv">here.</a></p>
    </div>

  <div class="columns is-gapless has-background-light" style="display: flex;">
    <div class="column">
      <section class="hero">
        <div class="hero-body px-6">
          <p class="heading" style="color: black">Click To Join</p>

          {%- if teams %}
            {%- for doc in teams %}
              {%- with team = doc.to_dict() %}
                <div id="{{ doc.id }}" class="box team-box">
                  <article class="media">
                    <div class="media-content columns is-gapless is-marginless">
                      {%- with members = team.members %}
                        <div class="content column">
                          <div class="is-pulled-left">
                            {%- with length = members | length %}
                              <a href="/team/{{ doc.id }}">
                                <strong>{{ doc.id }}</strong>
                              </a>
                              &middot; {{ members | length }} member{{ 's' if members | length > 1 else ''}}
                            {% endwith -%}

                            {%- if current_user.username in members %}
                              <p>
                                <a class="hyperlink" href="/user/{{ team.members[0] }}">{{ members[0] }}</a>
                                {%- for member in members[1:] %}
                                  <span>&middot; <a class="hyperlink" href="/user/{{ member }}">{{ member }}</a></span>
                                {% endfor -%}
                              </p>
                            {% endif -%}
                          </div>
                        </div>

                        {%- if current_user.username in members %}
                          <div class="column holder">
                            <a href="/leave" class="mdi mdi-location-exit" style="margin-left: auto;"></a>
                          </div>
                        {% endif -%}
                      {% endwith -%}
                    </div>
                  </article>
                </div>
              {% endwith -%}
            {% endfor -%}
          {%- else %}
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Error</strong>
                      <br />
                      Unfortunately, the teams have failed to load. Try reloading the page.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          {% endif -%}
        </div>
      </section>
    </div>

    <div class="divider is-vertical">Or</div>

    <div class="column">
      <div class="p-6 has-offset-1">
        <p class="heading" style="color: black">Create Your Own</p>
        <div class="box">
          {%- with messages = get_flashed_messages() %}
            {%- if messages %}
              <div class="notification flashed is-danger is-family-primary">
                {{ messages[0] }}
              </div>
            {% endif -%}
          {% endwith -%}

          <form method="POST" action="/create">
            <div class="field">
              <div class="control">
                <input class="input is-medium" type="text" name="name" value="{{ team_name }}" placeholder="Team Name" autofocus="" required>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                  id="password"
                  class="input is-medium"
                  type="password"
                  name="password"
                  value="{{ password }}"
                  placeholder="Join Code"
                  required
                />
                <div class="icon is-medium">
                  <span id="toggle" class="mdi mdi-eye"></span>
                </div>
              </div>
            </div>

            <div class="g-recaptcha" data-sitekey="6LeUQ_wZAAAAAL24DuAB0navLMupX39Uyjwv6S4W"></div>

            <br />
            <div class="field">
              <input class="is-checkradio is-info" id="rulesS" type="checkbox" name="rules">
              <label for="rulesS">I agree to the <a class="hyperlink" target="_blank" href="/rules">rules</a></label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
            <button id="submit" class="button bold is-block is-info is-fullwidth">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal{{ ' is-active' if open_join else ''}}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div class="box no-expand">
        <button class="delete is-pulled-right mb-4" aria-label="close"></button>
        {%- with messages = get_flashed_messages() %}
          {%- if messages %}
            <div class="notification flashed is-danger is-family-primary">
              {{ messages[0] }}
            </div>
          {% endif -%}
        {% endwith -%}

        <form method="POST" action="/join">
          <div class="field">
            <div class="control">
              <input
                class="input is-medium"
                name="join_code"
                value="{{ password }}"
                placeholder="Join Code"
                required
              />
            </div>
          </div>

          <div class="g-recaptcha" data-sitekey="6LeUQ_wZAAAAAL24DuAB0navLMupX39Uyjwv6S4W"></div>
          <input type="hidden" name="team_name" value="{{ team_name }}" />

          <br />
          <div class="field">
            <input class="is-checkradio is-info" id="rulesJ" type="checkbox" name="rules">
            <label for="rulesJ">I agree to the <a class="hyperlink" target="_blank" href="/rules">rules</a></label>
          </div>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
          <button id="submit" class="button bold is-block is-info is-fullwidth">Join</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(() => {
      const $modal = $(".modal");
      const $teamName = $("[name='team_name']");

      $(".team-box").click(event => {
        event.preventDefault();
        const { location } = window,
          {
            target: { tagName },
            currentTarget: { id }
          } = event;

        if (tagName === "STRONG") {
          location.href = `${location.origin}/team/${id}`;
        } else if (tagName === "A") {
          fetch('/leave').then(() => {
            location.href = '/team/Solo';
          });
        } else if (id !== "Solo") {
          $teamName.val(id);
          $modal.addClass("is-active");
          $(".flashed").remove();
        }
      });

      $(".modal-background, .delete").click(() => {
        $teamName.val("");
        $modal.removeClass("is-active");
        $(".flashed").remove();
      });
    });
  </script>
{% endblock -%}
