<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="OMMC" />

    <!-- embeds -->
    <meta property="og:title" content="OMMC &middot; {{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ommc.herokuapp.com" />
    <meta property="og:image" content="https://media.discordapp.net/attachments/778356169223700481/785890106489438269/fixup2.png" />
    <meta property="og:description" content="Online Monmouth Math Competition" />
    <meta name="theme-color" content="#c9424b">
    <meta name="twitter:card" content="summary_large_image">

    <!-- title and favicon -->
    <title>OMMC &middot; {{ title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    <!-- pace -->
    <link
      rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='pace/pace.css') }}"
    />
    <script defer src="{{ url_for('static', filename='pace/pace.js') }}"></script>

    <!-- bulma -->
    <link
      rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename="css/styles.scss.css") }}"
    />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css" />

    <!-- global scripts -->
    <script
      src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
      crossorigin="anonymous"
    ></script>

    <script src="//www.google.com/recaptcha/api.js"></script>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body class="main has-navbar-fixed-top">
    <header>
      <nav class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://media.discordapp.net/attachments/778356169223700481/785890106489438269/fixup2.png" width="30" height="30">
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-content">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbar-content" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
            <a class="navbar-item" href="/join">
              Join
            </a>
            <a class="navbar-item" href="/faq">
              FAQs
            </a>
          </div>

          <div class="navbar-end">
            {%- if not current_user.authenticated %}
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button bold is-info" href="/signup">
                    <strong>Sign up</strong>
                  </a>
                  <a class="button is-grey-lighter" href="/login">
                    Log in
                  </a>
                </div>
              </div>
            {%- else %}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  <img class="profile-photo" alt="{{ current_user.username }}" src="{{ current_user.image_url }}" />
                </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/user/{{ current_user.username }}">
                    Profile
                  </a>
                  <a class="navbar-item" href="/team/{{ current_user['team'] }}">
                    Team
                  </a>
                </div>
              </div>

              <div class="navbar-item">
                <a class="button bold is-info" href="/logout">
                  <strong>Log out</strong>
                </a>
              </div>
            {% endif -%}
          </div>
        </div>
      </nav>
    </header>

    <main class="content">
      {% block main %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="has-text-centered">
        <small>&copy; Copyright 2020, OMMC</small>
        <p class="heading">
          Crafted with ❤️ by the <a class="hyperlink" href="/creators">OMMC staff</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
