{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="title is-family-secondary">
              Participants
            </p>
          </div>
        </div>
      </nav>

      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <em class="subtitle is-family-primary">
              View the users that signed up for OMMC.
            </em>
          </div>
        </div>
      </nav>
    </div>
  </section>
{% endblock -%}
