{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Participants
      </p>
      <p class="subtitle is-family-primary">
       View the users that signed up for OMMC.
      </p>
    </div>
  </section>

  <section class="hero has-background-light">
    <div class="hero-body px-5">
      <p class="heading">Teams</p>
      {%- if teams %}
        {%- for doc in teams %}
          {%- with team = doc.to_dict() %}
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <a href="/team/{{ doc.id }}"><strong>{{ doc.id }}</strong></a>
                      <br />

                      <a class="hyperlink" href="/user/{{ team.members[0] }}">{{ team.members[0] }}</a>
                      {%- for member in team.members %}
                        {%- if member != team.members[0] %}
                          <span>&middot; <a class="hyperlink" href="/user/{{ member }}">{{ member }}</a></span>
                        {% endif -%}
                      {% endfor -%}
                    </p>
                  </div>
                </div>
              </article>
            </div>
            {% endwith -%}
        {% endfor -%}
      {%- else %}
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Error</strong>
                  <br />
                  Unfortunately, the teams have failed to load. Try reloading the page.
                </p>
              </div>
            </div>
          </article>
        </div>
      {% endif -%}
    </div>
  </section>
{% endblock -%}
