{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body columns is-gapless">
      <div class="column is-half" style="display: flex; align-items: center;">
        <div class="is-pulled-left">
          <p class="title is-family-secondary">
            {{ user.username }}'s Profile
          </p>
          <p class="subtitle is-family-primary">
            Member of <a class="hyperlink" href="/team/{{ user['team'] }}">{{ user["team"] }}</a>.
          </p>
        </div>
      </div>

      <div class="column is-half">
        <div class="is-pulled-right">
          <figure class="image is-96x96">
            <img class="is-rounded" alt="{{ user.username }}" src="{{ user['image_url'] }}" />
          </figure>
        </div>
      </div>
    </div>
  </section>

  <nav id="stats" class="level has-background-light">
    <!-- additional statistics may be added here -->
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Join Date</p>
        <p class="title is-family-primary">{{ user["created_date"].month }}/{{ user["created_date"].day }}/{{ user["created_date"].year }}</p>
      </div>
    </div>
  </nav>

  {%- if current_user.authenticated %}
    {%- if current_user.get_id() == user.username %}
      {%- if current_user["team"] == "Solo" %}
        <section class="px-6 pt-2">
          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <strong class="subtitle is-family-secondary">
                    Notice
                  </strong>

                  <p class="is-family-primary">
                    If you chose to stay solo, your form will show here once the test becomes available. Otherwise, you can <a class="hyperlink" href="/join">join a team</a>.
                  </p>
                </div>
              </div>
            </article>
          </div>
        </section>
      {% endif -%}
    {% endif -%}
  {% endif -%}
{% endblock -%}
