{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        {{ user.username }}'s Profile
      </p>
      <p class="subtitle is-family-primary">
        Member of <a class="hyperlink" href="/team/{{ user['team'] }}">{{ user["team"] }}</a>
      </p>
    </div>
  </section>

  <nav id="stats" class="level has-background-light">
    <!-- additional statistics may be added here -->
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Join Date</p>
        <p class="title is-family-primary">{{ user["created_date"].month }}/{{ user["created_date"].day }}/{{ user["created_date"].year }}</p>
      </div>
    </div>
  </nav>
{% endblock -%}
