{%- extends "master.html" %}

{%- block main %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Official Rulebook
      </p>
      <p class="subtitle is-family-primary">
        Please review our rules to get a better understanding of the competition.
      </p>
      <p><a href="https://docs.google.com/document/d/1S4TGik2Q-kDQqNAN1lboBdn9TItvnJG4w0Kr0ULQu7Y/edit#heading=h.ml9asl4g9utg">DOCUMENT FORM</a></p>
    </div>
  </section>

  <section class="px-5 pt-5">
    <p class="subtitle is-family-primary"><strong>Friday, February 26th to Monday, March 1st</strong></p>
    <p>Headed by Ishaan Akula, Evan Chang, Bill Fei</p>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
            <p class="subtitle"><strong>OVERVIEW & PURPOSE</strong></p>
            <p>The purpose of OMMC, or the Online Monmouth Math Competition, is to give talented high school and middle school students an exciting and engaging way to develop their skills in mathematics. Students will have the opportunity to compete in teams, developing valuable teamwork and collaboration skills. In the competition, they will solve thought-provoking challenging mathematics questions The competition consists of 2 individual rounds and 1 team round administered over the span of 4 whole days, consisting of questions with similar difficulty as those posed on the well-established AMC 10/12 and AIME math competitions.</p>
            <p class="subtitle"> <strong>CODE OF CONDUCT</strong></p> 
            <p>As a math competition, we have a commitment to uphold the highest standards of academic integrity, and we expect all competitors to do the same. Cheating in this contest (refer to the competition rules) is extremely frowned upon - the main purpose of OMMC is to foster interest in mathematics and aid in mathematical development, and cheating on this contest helps with none of these things. </p>
            <p class="subtitle"> <strong>CONTEST ELIGIBILITY RULES</strong></p> 
            <p>Contestants must be enrolled in middle school or high school, and should not yet have received a high school diploma. For any gap year exceptions, please contact us for more information. Contestants should also be in teams of 1-4, and working solo is also allowed. Note that any solo competitor will count as their own one man team. They will be allowed to take the Team Round on their own, but will not be given extra time to compensate. They will receive a score on the individual rounds as well as one cumulative score based on all three rounds.</p>
        </div>
      </div>
    </article>
  </div>
  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="content">
            <p class="subtitle"> <strong>COMPETITION RULES</strong></p> 
            <p> <strong>Be Respectful.</strong></p>
            <ul>
               <li>This means showing <strong>utmost respect</strong> to all participants or staff. Any violations will result in <strong>severe consequences</strong>, and the violator will be banned from future events.</li>
               <li>We want to make this competition a <strong>safe</strong> and <strong>enjoyable learning environment</strong>, and this means everyone should be kind and respectful to other contestants.</li>
               <li>Please practice <strong>common decency</strong> practices, such as not bragging about test scores, mocking other people, or putting others down.</li>
               <li>Inappropriate behavior unbecoming of a math competition contestant will be dealt with accordingly. This includes inappropriate team names, behavior on the forums/Discord servers, and in general, any behavior deemed improper by the organizers.</li>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
<p> <strong>Practice Integrity.</strong></p>
  <ul>
    <li>Please practice <strong>integrity</strong> while competing in this event. <strong>Refrain</strong> from using any methods of finding answers, such as searching online, using code, using online/graphing calculators (Symbolab, Desmos, Wolfram Alpha, etc.) or any other methods of <strong>cheating</strong>.</li>
    <li>The only aids allowed on the OMMC (for all rounds) are scrap <strong>paper</strong>, writing <strong>utensils, rulers, compasses</strong>, and a <strong>4-function calculator</strong> (a calculator that can only perform the basic operations of addition, subtraction, multiplication, and division). Note that none of the problems appearing on the OMMC require the use of a calculator. </li>
    <li>Remember that this is a <strong>positive</strong> learning environment, and cheating will neither benefit you or the other participants. If any method of cheating is reported, or we find out that a competitor and/or team is cheating, the violator’s scores will be <strong>invalidated</strong> and they will be <strong>barred</strong>> from this and future OMMC events.</li>
    <li>Keep in mind that any attempts to gain <strong>additional time</strong> for a round is also a form of <strong>cheating</strong>, and any answers entered after the set time will be considered <strong>null/invalid</strong>.</li>
    <li><strong>Discussion</strong> is also a form of cheating. Do not discuss the individual rounds (Rounds 1 and 2) with anyone until discussion is <strong>open</strong> (about a week after the test taking window has closed). Do not discuss the team round (Round 3) with anyone <strong>except</strong> the <strong>members</strong> of your team until discussion is open (a few days after the test taking window has closed). Anyone found discussing the contest before discussion is open may be subject to <strong>disqualification</strong>.</li>
  </ul>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
<p class="subtitle"> <strong>Feel free to ask questions or reach out!</strong></p>
<ul>
    <li>Please <strong>do not be afraid</strong> to ask us any questions, as we will make sure to get back to you! Our <strong>priority</strong>> is to make sure that everyone feels <strong>welcome</strong>, so do not hesitate to ask one of our staff members any <strong>questions</strong> or <strong>concerns</strong>.</li>
</ul>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
<p class="subtitle"> <strong>Don't forget to have fun!</strong></p>
<ul>
<li>Remember to <strong>have fun</strong> in this competition! This is a great chance to <strong>meet</strong> like-minded people across the country and make some <strong>friends</strong>. <strong>Healthy competition</strong> is always <strong>encouraged</strong>!</li>
</ul>
            </ul>
          </div>
        </div>
      </article>
    </div>
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
<div>
<p class="subtitle"> <strong>CONTACT US</strong></p>
<p>We recommend the majority of questions surrounding the competition be sent to the Official OMMC email. Send an email to one of the administrators only in the event that you want to address one of them individually.</p>
</div>
            <p> Official OMMC Email: <a href="ommcofficial@gmail.com" class="fa fa-google-plus-square"></a>
            <p> Official OMMC Twitter: <a href="https://twitter.com/OfficialOmmc" class="fa fa-twitter"></a>
            <p> Official OMMC Instagram: <a href="https://www.instagram.com/ommcofficial/" class="fa fa-instagram"></a>
            <p> Official OMMC YouTube: <a href="https://twitter.com/OfficialOmmc" class="fa fa-youtube"></a>

          </div>
        </div>
      </article>
    </div>

  </section>
{% endblock -%}
