{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Official Rulebook
      </p>
      <p class="subtitle is-family-primary">
        Please review our rules to get a better understanding of OMMC.
      </p>
    </div>
  </section>

  <section class="px-5 pt-5">
    <div class="box">
      <p class="heading">Headed by Ishaan Akula, Evan Chang, and Bill Fei</p>
      <p class="is-family-primary">
        The document version of this page is available <a class="hyperlink" target="_blank" href="https://drive.google.com/file/d/1g7YAPS9onIoIlvbdZ4Gyd7GDcCzFYzZ2/view">here</a>.
      </p>
    </div>

    {%- with url = url_for("static", filename="documents/Rules.pdf") %}
      <object data="{{ url }}" type="application/pdf" width="100%" height="750px">
          <embed src="{{ url }}" type="application/pdf" />
      </object>
    {% endwith -%}
  </section>
{% endblock -%}
