{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Sponsors
      </p>
      <p class="subtitle is-family-primary">
        Thank you to our sponsors for making OMMC possible!
      </p>
    </div>
  </section>

  <section class="px-5 pt-5">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            If you are interested in sponsoring us, contact us at ommcofficial@gmail.com.
          </div>
        </div>
      </article>
    </div>
  <div class="notification"> 
    <strong style="font-size: 25px">Sponsors</strong>        
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <a href="https://artofproblemsolving.com/"><img src="/static/documents/AoPS.png" style="display: block;
            margin-left: auto; margin-right: auto;width: 50%; max-height:40rem; max-width:50rem"></a>
           
      </article>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            
            <a href="https://www.maplesoft.com/"><img src="/static/documents/maplesoft.png" style="display: block;
              margin-left: auto; margin-right: auto;width: 50%; max-height:40rem; max-width:50rem"></a>
          </div>
        </div>
      </article>
    </div>
    </div>
    <div class="notification">
      <strong style="font-size: 25px">Partners</strong>
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              
              <a href="https://www.buzzonline.org/"><img src="/static/documents/buzz.png" style="display: block;
                margin-left: auto; margin-right: auto;width: 50%; max-height:40rem; max-width:50rem"></a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
{% endblock -%}
