{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Team {{ team.name }}
      </p>

      {%- if team.name == "Solo" %}
        <p class="subtitle is-family-primary">
          Solo Participants
        </p>
      {%- else %}
        <p class="subtitle is-family-primary">
          Status: has{{ "" if team["submitted"] else " not" }} submitted
        </p>
      {% endif -%}
    </div>
  </section>

  <nav id="stats" class="level has-background-light">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Members</p>

        <p class="title is-family-primary">
          {%- with members = team.members %}
            {%- if current_user.username in members and team.name != "Solo" %}
              <a class="hyperlink" href="/user/{{ team.members[0] }}">{{ members[0] }}</a>
              {%- for member in members[1:] %}
                <span>&middot; <a class="hyperlink" href="/user/{{ member }}">{{ member }}</a></span>
              {% endfor -%}
            {%- else %}
              <span>{{ members | length }}</span>
            {% endif -%}
          {% endwith -%}
        </p>
      </div>
    </div>
  </nav>

  <section class="px-6">
    {%- if team.name != "Solo" %}
      <div class="box">
        <strong>{{ team.members[0] }}</strong> is the team leader.
      </div>
    {% endif -%}

    <div class="box">
      <strong class="subtitle is-family-secondary">
        Notice
      </strong>

      <p class="is-family-primary">
        {%- if current_user.authenticated %}
          {%- if current_user["team"] == team.name %}
            {%- if team.name == "Solo" %}
              You're currently participating solo, so you must submit from <a class="hyperlink" href="/user/{{ current_user.get_id() }}">your profile</a>.
            {%- else %}
              Your team's form will show here once the test becomes available.
            {% endif -%}
          {%- else %}
            {%- if team.name == "Solo" %}
              Since you're already on a team, you cannot submit from <a class="hyperlink" href="/user/{{ current_user.get_id() }}">your profile</a>.
            {%- else %}
              Since you aren't a member of this team, you cannot access this team's test.
            {% endif -%}
          {% endif -%}
        {%- else %}
          Since you aren't <a class="hyperlink" href="/login">signed in</a>, you cannot access this team's test.
        {% endif -%}
      </p>
    </div>
  </section>
{% endblock -%}
