{%- extends "master.html" %}

{%- block main %}
  <section class="hero is-info">
    <div class="hero-body">
      <p class="title is-family-secondary">
        Team {{ team.name }}
      </p>

      {%- if team.name == "Solo" %}
        <p class="subtitle is-family-primary">
          Status: N/A
        </p>
      {%- else %}
        <p class="subtitle is-family-primary">
          Status: has{{ "" if team["submitted"] else " not" }} submitted
        </p>
      {% endif -%}
    </div>
  </section>

  <nav id="stats" class="level has-background-light">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">{{ "Members" if team.name != "Solo" else "Solo Participants" }}</p>

        <p class="title is-family-primary">
          <a class="hyperlink" href="/user/{{ team.members[0] }}">{{ team.members[0] }}</a>
          {%- for member in team.members %}
            {%- if member != team.members[0] %}
              <span>&middot; <a class="hyperlink" href="/user/{{ member }}">{{ member }}</a></span>
            {% endif -%}
          {% endfor -%}
        </p>
      </div>
    </div>
  </nav>

  {%- if current_user.authenticated %}
    {%- if team.name == "Solo" }
      <section class="px-6">
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <strong class="subtitle is-family-secondary">
                  Notice
                </strong>

                <p class="is-family-primary">
                  Your form will show here once the test becomes available.
                </p>
              </div>
            </div>
          </article>
        </div>
      </section>
    {%- else %}
      {%- with user = current_user.get_id() %}
        {%- if user in team.members %}
          <section class="px-6">
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <strong class="subtitle is-family-secondary">
                      Notice
                    </strong>

                    <p class="is-family-primary">
                      Your team's form will show here once the test becomes available.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </section>
        {%- else %}
          <section class="px-6">
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <strong class="subtitle is-family-secondary">
                      Notice
                    </strong>

                    <p class="is-family-primary">
                      Since you aren't a member of this team, you cannot access the team's test.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </section>
        {% endif -%}
      {% endwith -%}
    {% endif -%}
  {%- else %}
    <section class="px-6">
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <strong class="subtitle is-family-secondary">
                Notice
              </strong>

              <p class="is-family-primary">
                Since you aren't <a class="hyperlink" href="/login">signed in</a>, you cannot access the team's test.
              </p>
            </div>
          </div>
        </article>
      </div>
    </section>
  {% endif -%}
{% endblock -%}
