{%- extends "master.html" %}

{%- block main %}
  <div class="column is-4 is-offset-4">
    <h3 class="title is-family-secondary">Sign up</h3>
    <div class="box">
      {%- with messages = get_flashed_messages() %}
        {%- if messages %}
          <div class="notification is-danger is-family-primary">
              {{ messages[0] }}
          </div>
        {% endif -%}
      {% endwith -%}

      <form id="signup" method="POST" action="/signup">
        <div class="field">
          <div class="control">
            <input class="input is-medium" type="email" name="email" value="{{ email }}" placeholder="Email address" autofocus="" required>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-medium" type="text" name="name" value="{{ username }}" autocomplete="username" placeholder="Username" autofocus="" required>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input
              id="password"
              class="input is-medium"
              type="password"
              name="password"
              value="{{ password }}"
              autocomplete="current-password"
              placeholder="Password"
              required
            />
            <div class="icon is-medium">
              <span id="toggle" class="mdi mdi-eye"></span>
            </div>
          </div>
        </div>

        <div class="g-recaptcha" data-sitekey="6LeUQ_wZAAAAAL24DuAB0navLMupX39Uyjwv6S4W"></div>
        <div class="columns is-gapless pt-4">
          <div class="column field">
            <input class="is-checkradio is-info" id="remember" type="checkbox" name="remember">
            <label for="remember">Remember me</label>
          </div>

          <div class="column field">
            <input class="is-checkradio is-info" id="terms" type="checkbox" name="terms">
            <label for="terms">I agree to the <a class="hyperlink" target="_blank" href="/terms">TOS</a></label>
          </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
        <button id="submit" class="button bold is-block is-info is-fullwidth">Sign up</button>
      </form>
    </div>

    <div class="divider">Or</div>

    <div class="column has-text-centered">
      <p class="subtitle is-6 is-family-primary">
        Already have an account? <a class="hyperlink" href="/login">Log in</a> instead.
      </p>
    </div>
  </div>
{% endblock -%}
